.grid-practice {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    padding: 10px;
    grid-gap: 5px;
    border: 1 px solid white;
    width: 80%;
    margin: auto;


}
.grid-item {
    border: 1px solid white;
    padding: 20px 0px;
    font-size: 30px;
    color: white;
}
header {
    background-color: rgb(10, 246, 246);
    grid-column: 1 / 4;
}
.hero {
    background-color: rgb(165, 131, 177);
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.sidebar {
    background-color: rgb(98, 146, 98) ;
    grid-column: 1 / 2;
    grid-row: 4 / 6 ;
}
main {
    background-color: rgb(130, 130, 49);
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}  
.extra-content {
    background-color: grey;
    grid-column: 2 / 4;
    grid-row:  / ;

}
img {
    background-color: green;
    grid-column: 1 / 3;
}
article {
    background-color: rgb(103, 71, 103);
    grid-column: 3 / 4;
}
footer {
    background-color: orange;
    grid-column: 1 / 4;
}